.End{
    text-align: center;
}
#icon{
    font-size: 30px;
    margin: 8px;
}
.End_icons{
    margin: 50px 0px;
}
.End_1 a{
    color: black;
    text-decoration: underline solid 1px;
    margin: 10px;
    letter-spacing: 2px;
    line-height: 20px;
    font-weight: 300;
}
.End_1 p{ 
    font-weight: 300;
    letter-spacing: 3px;
}
.End_1 button{
    background-color: white;
    border: 1.5px solid rgb(20, 213, 20);
    color:rgb(20, 213, 20);
    padding: 20px;
    font-size: 18px;
    margin-bottom:50px ;
    transition: all 0.5s;
}
.End_1 button:hover{
    background-color:rgb(20, 213, 20);
    color: white;
}