.Upcoming .Baner_a2{
    background-image: url('https://images.squarespace-cdn.com/content/v1/51cdafc4e4b09eb676a64e68/1655476464455-8KM6F1BYFI3DZ815HO3E/generic_head.jpg?format=2500w');
}
.Upcoming1{
    width: 900px;
    margin: auto;
}
.Upcoming1 img{
    width: 900px;
}
.Upcoming1 h1{
    font-size: 45px;
    font-weight: 400;
}
.Upcoming1 p{
    font-size: 19px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 40px;
}
.Upcoming1 #p{
    font-size: 20px;
    color: rgb(69, 69, 69);
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 40px;
}